* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca";
  scroll-behavior: smooth;
}

body {
  background-color: #0f1218;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.premium-clr {
  color: rgb(255, 255, 134);
}

.main-thing {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  height: 1000px;
  background-color: #0a0d13;
}

.top-text {
  position: absolute;
  margin-top: 16px;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}

.code-clr {
  display: inline-block;
  color: rgba(234, 0, 255, 0.64);
}

.alert-div {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #0f12187d;
  box-shadow: 0px 0px 25px rgb(0, 0, 0);
  margin-top: 75px;
}

.navbar-div {
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 10;
  background-color: #0f1218e8;
  box-shadow: 0px 0px 10px black;
}

.logo-wrapper {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  width: fit-content;
}

.pylex-logo {
  position: relative;
  margin-top: 12.5px;
  width: 50px;
  object-fit: contain;
}

.pylex-logo-text {
  position: absolute;
  color: white;
  font-size: 35px;
  margin-top: 17.5px;
  margin-left: 10px;
}

.smaller-logo {
  display: inline-block;
  font-size: 20px;
}

.fancy-center {
  position: relative;
  width: 95%;
  max-width: 1200px;
  left: 50%;
  transform: translate(-50%);
}

.justify-start {
  width: 100%;
  display: flex;
  justify-content: start;
}

.justify-space-evenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.main-stuff {
  margin-top: 25px;
}

.right-part {
  margin-left: 125px;
  width: 50%;
  height: 100%;
}

.h-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 675px;
}

.main-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.btns-wrapper {
  margin-top: 50px;
}

.landing-btn {
  position: relative;
  max-width: 200px;
  padding-left: 35px;
  padding-right: 35px;
  height: 50px;
  border-radius: 25px;
  background-color: #0f12187d;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-right: 12.5px;
  transition: 0.2s;
}

.description-text {
  max-width: 700px;
  color: white;
  text-wrap: wrap;
  display: block;
  margin-top: 10px;
}

.trustpilot-widget {
  position: relative;
  display: block;
  margin-left: -32px;
  margin-top: 20px;
}

.panelPics-div {
  position: relative;
  display: block;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  box-shadow: 0px 0px 25px black;
  background-color: #0a0d13;
  margin-top: -50px;
}

.whyus-div {
  position: relative;
  display: block;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  box-shadow: 0px 0px 25px black;
  background-color: #0f1218;
}

.navbar-btns-wrapper {
  position: absolute;
  width: fit-content;
  right: 0;
  height: fit-content;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 5px;
}

.navbar-btn {
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin-left: 10px;
  transition: 0.2s;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.cool-title {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 35px;
}

.cool-blue {
  display: inline;
  color: rgb(72, 87, 156);
  font-size: 30px;
  text-shadow: 0px 0px 10px black;
}

.example-image {
  position: relative;
  width: 300px;
  height: 150px;
  object-fit: contain;
  top: 50%;
  transform: translate(0, -50%);
}

.cool-description {
  position: relative;
  color: white;
  text-wrap: wrap;
  display: block;
}

.fa-crown {
  color: rgb(255, 255, 134);
}

.whyus-btn {
  position: relative;
  display: block;
  margin-top: 25px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

.whyus-btn:hover {
  background-color: rgb(41, 51, 94);
  font-size: 16px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: 2px solid rgb(41, 51, 94);
  box-shadow: 0px 0px 10px black;
}

.achievements-div {
  background-color: #0a0d13;
}

.right-partlol {
  width: 100%;
}

.rightparttitle {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 35px;
  text-align: right;
  width: 100%;
}

.rightpartdescription {
  position: relative;
  color: white;
  text-wrap: wrap;
  display: block;
  text-align: right;
  max-width: 100%;
  margin-top: 10px;
}

.lesgohover:hover {
  background-color: rgb(41, 51, 94);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  border: 2px solid rgb(41, 51, 94);
  box-shadow: 0px 0px 10px black;
}

.right-stuff {
  position: relative;
  float: right;
  margin-top: 5px;
  width: 100%;
}

.right-achievement {
  width: 100%;
  max-width: 500px;
  float: right;
  height: 90px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #0f1218;
  box-shadow: 0px 0px 10px black;
}

.bigger-example {
  position: relative;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.discordbtn {
  background-color: #404eed;
  border: 2px solid #2f3577;
  padding-left: 15px;
  padding-right: 15px;
}

.discordbtn:hover {
  background-color: #404eed97;
  color: rgb(221, 221, 221);
}

.premhover:hover {
  color: white;
  text-shadow: 0px 0px 5px black;
  border: 2px solid rgb(228, 228, 108);
  background-color: rgb(228, 228, 108);
}

/* .landing-btn:hover {
    font-size: 19px;
} */

.achievementpos {
  position: relative;
  height: fit-content;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  width: 100%;
}

.achievemnt-icn {
  position: relative;
  font-size: 40px;
  margin-left: 35px;
}

.achievement-txt {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 110px;
  width: 100%;
}

.reviews-div {
  box-shadow: 0px 0px 10px black;
  padding-top: 35px;
  padding-bottom: 50px;
}

.review-div {
  position: relative;
  width: 425px;
  height: 250px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0a0d13;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px black;
}

.fa-quote-left {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 40px;
}

.testimonial-div {
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  width: 90%;
}

.testimonial-txt {
  position: relative;
  color: white;
  margin-left: 20px;
  margin-top: 4px;
}

.testimonial-profile {
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: start;
}

.testimonial-pfp {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-top: 7px;
}

.fivestarswrapper {
  position: relative;
  color: orange;
  margin-left: 10px;
  margin-top: 5px;
}

.testimonial-name {
  position: relative;
  display: inline-block;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
}

.testimonial-verified {
  position: relative;
  display: block;
  color: rgb(205, 205, 205);
  font-size: 11px;
  margin-left: 10px;
  margin-top: 2.5px;
}

.testimonial-verified .fa-check {
  color: rgb(99, 215, 99);
  text-shadow: 0px 0px 5px black;
}

.qna-divs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0a0d13;
  box-shadow: 0px 0px 10px black;
}

.qna-div {
  position: relative;
  display: inline-block;
  width: 95%;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #0f1218;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  transition: 0.2s;
  padding-top: 18px;
  padding-bottom: 18px;
}

.qna-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  transform: rotate(90deg);
  margin-top: -8px;
  margin-right: 15px;
  text-shadow: 0px 0px 10px black;
  transition: 0.2s;
}

.qna-question {
  position: relative;
  color: white;
  display: inline-block;
  margin-left: 20px;
  transition: 0.2s;
  font-size: 17px;
  width: 82%;
}

.qna-opened {
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 0px;
}

.qna-answer {
  position: absolute;
  color: rgb(159, 159, 159);
  display: inline-block;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 14px;
  margin-right: 20px;
  height: fit-content;
  transition: 0.2s;
  opacity: 0%;
  width: 80%;
}

.qna-arrow-opened {
  transform: rotate(180deg);
  margin-top: -5px;
  margin-right: 20px;
}

.premium-div {
  position: relative;
  padding-top: 35px;
  padding-bottom: 50px;
  display: block;
  width: 100%;
  background-color: #0f1218;
  box-shadow: 0px 0px 10px black;
}

.premium-offer {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #0a0d13;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  transition: 0.25s;
  margin-left: 10px;
  margin-right: 10px;
}

.free-offer {
  width: 85%;
}

#learnmorejustify {
  position: relative;
  display: block;
  height: fit-content;
  width: 95%;
  left: 50%;
  transform: translate(-50%);
}

.premium-offer-cool {
  position: relative;
  color: white;
  display: block;
  font-size: 13px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featureicn {
  position: absolute;
  font-size: 20px;
  margin-left: -30px;
  margin-top: -2.5px;
}

.banner-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 160px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}

.banner-title {
  position: absolute;
  color: white;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  z-index: 1;
  text-shadow: 0px 0px 10px black;
  font-size: 50px;
}

.get-started {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 17px;
  display: inline-block;
}

.premium-offertxt {
  position: relative;
  color: white;
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  margin-left: 10px;
  font-size: 22.5px;
}

.hoverwhite {
  transition: 0.25s;
}

.hoverwhite:hover {
  background-color: white;
  color: black;
}

.footer-div {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  background-color: #0a0d13;
  box-shadow: 0px 0px 10px black;
}

.copyright-txt {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 300;
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.options-wrapper {
  position: relative;
  height: fit-content;
  user-select: none;
  margin-top: 30px;
}

.footer-option {
  position: relative;
  display: block;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(145, 148, 153);
  cursor: pointer;
}

.pylex-logo-footer {
  font-size: 35px;
  color: white;
}

.pylex-logo-footer .smaller-logo {
  font-size: 18px;
  font-weight: 300;
}

.pylex-logo-desc {
  position: relative;
  color: white;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.long-line-feature {
  position: relative;
  width: 100%;
  height: 0px;
}

.free {
  background-color: #404eed;
}

.premium {
  background-color: rgb(255, 255, 134);
}

.slideshow-wrapper {
  width: 100%;
  height: fit-content;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.picpic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-pic {
  width: 550px;
  height: 360px;
  border: 4px solid white;
  border-radius: 10px;
  transition: 0.25s;
}

.small-pic {
  width: 270px;
  height: 180px;
  border: 4px solid white;
  border-radius: 10px;
  margin-top: 180px;
  transition: 0.25s;
  opacity: 25%;
}

.smallL {
  position: relative;
  right: -15px;
  transform: rotate(-2deg);
}

.smallR {
  position: relative;
  left: -15px;
  transform: rotate(2deg);
}

.selector-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}

.selector-btn {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.25s;
}

.selectedselector {
  background-color: white;
}

.popup-wrapper {
  position: fixed;
  width: 90%;
  max-width: 600px;
  height: 375px;
  background-color: #0f1218;
  border-radius: 10px;
  left: 50%;
  scale: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0px 0px 10px black;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.popupbtns-wrapper {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.popupBtn {
  position: relative;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-shadow: 0px 0px 5px black;
}

.popupTitle {
  position: relative;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  display: inline-block;
  font-weight: 500;
}

.spaceBetween5px {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.popupImg {
  position: relative;
  width: 100px;
  display: block;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}

.popupSubTitle {
  position: relative;
  display: block;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 15px;
}

.discount-wrapper {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  font-weight: 600;
}

.discountCircle-wrapper {
  position: fixed;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  z-index: 20;
  cursor: pointer;
  border: 2px solid white;
}

.discountCircle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.landing-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, #0a0d138c, #0a0d13);
}

.landing-img-full {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.landing-img {
  position: relative;
  width: fit-content;
  height: 500px;
  border-radius: 10px;
}

.landing-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.privacyterms .landing-img-full {
  position: fixed;
  width: 100%;
  height: 100%;
}

.privacyterms .landing-img-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* responsiveness stuff */

@media (max-width: 700px) {
  .discordbtn {
    display: none;
  }
}

@media (max-width: 580px) {
  .navbar-btns-wrapper {
    display: none;
  }
}

@media (max-width: 875px) {
  .landing-img {
    width: 20%;
  }

  .right-part {
    margin-left: 50px;
  }
}

@media (max-width: 750px) {
  .alert-div {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .top-text {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    margin-left: 50px;
  }

  .fa-circle-info {
    position: absolute;
    top: 10px;
    transform: translate(0, -50%);
  }

  .justify-start-alert {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: start;
  }

  /*  */

  .wrapper-center {
    display: none;
  }

  .cool-title {
    width: 100%;
    text-align: center;
  }

  .cool-description {
    width: 100%;
    text-align: center;
  }

  .whyus-btn {
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    max-width: 300px;
  }

  /*  */

  .rightparttitle {
    width: 100%;
    text-align: center;
  }

  .rightpartdescription {
    position: relative;
    color: white;
    text-wrap: wrap;
    display: block;
    text-align: center;
    max-width: 100%;
    margin-top: 10px;
  }

  .right-stuff {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .right-achievement {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .achievement-txt {
    width: 60%;
    display: inline-block;
  }

  /*  */

  .footer-div .fancy-center .justify-space-evenly {
    display: block;
    text-align: center;
  }

  /*  */
}

@media (max-width: 700px) {
  .landing-img {
    display: none;
  }

  .right-part {
    width: 100%;
    height: 500px;
    margin-left: 0px;
    text-align: center;
  }

  .btns-wrapper {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
  }

  .trustpilot-widget {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  .landing-btn {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .reviews-div .fancy-center .cool-title {
    width: 100%;
    text-align: center;
  }
  .reviews-div .fancy-center .cool-description {
    width: 100%;
    text-align: center;
  }
  .reviews-div .fancy-center .justify-center {
    width: fit-content;
    display: block;
  }
  .reviews-div .fancy-center .justify-center .review-div {
    position: relative;
    display: block;
    width: 90%;
    left: 50%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 30px;
    transform: translate(-50%);
    margin-left: 0px;
  }
}

@media (max-width: 900px) {
  .premium-div .fancy-center .cool-title {
    width: 100%;
    text-align: center;
  }
  .premium-div .fancy-center .cool-description {
    width: 100%;
    text-align: center;
  }
  .premium-div .justify-space-evenly {
    display: block;
    width: 100%;
  }
  .premium-offer {
    position: relative;
    max-width: 90%;
    width: 100%;
    display: block;
    margin-bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    margin-left: 0px;
  }
}

@media (max-width: 620px) {
  .qna-question {
    font-size: 15px;
  }
}
